 .styled-button-9 {	
 	background: #635692;
 	background: -moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#9890B7),color-stop(100%,#635692));
 	background: -webkit-linear-gradient(top,#9890B7 0%,#635692 100%);
 	background: -o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	background: -ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	background: linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
 	padding: 8px 20px;
 	color: #FFFFFF;
 	font-family: 'Helvetica Neue',sans-serif;
 	font-size: 13px;
 	border-radius: 40px;
 	-moz-border-radius: 40px;
 	-webkit-border-radius: 40px;
 	border: 1px solid #4A416B;
 }

 .reward-button-9 {	
 	background: #635692;
 	background: -moz-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#9890B7),color-stop(100%,#635692));
 	background: -webkit-linear-gradient(top,#9890B7 0%,#635692 100%);
 	background: -o-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	background: -ms-linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	background: linear-gradient(top,#00A0D1 0%,#008DB8 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A0D1',endColorstr='#008DB8',GradientType=0);
 	padding: 8px 20px;
 	color: #FFFFFF;
 	font-family: 'Helvetica Neue',sans-serif;
 	font-size: 13px;
 	border-radius: 40px;
 	-moz-border-radius: 40px;
 	-webkit-border-radius: 40px;
 	border: 1px solid #4A416B;
 	position: relative;
	bottom: 20px;
	left: 20px;
 }