.index {
  margin-bottom: 5vh;
  margin-top: 10vh;
}
/* --------------------------------

xtab-nav

-------------------------------- */
.cd-tab-nav-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.cd-tab-nav-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-nav {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 80px;
  margin: 0 auto;
  margin-left: auto;
  z-index: 1;
  float: right;
}

.cd-tab-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.cd-tab-nav li {
  display: none;
}
.cd-tab-nav li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-nav a {
  display: block;
  color: #41307c;
  /* set same size of the .cd-tab-nav */
  height: 50px;
  width: 80px;
  line-height: 50px;
  text-align: center;
}

.large > a {
  width: 120px;
}

.large {
  width: 120px;
}

.cd-tab-nav > .selected {
  box-shadow: inset 0 -2px 0 #41307c;
}

.cd-tab-nav.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-nav.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-nav.is-open ul li {
  display: block;
}
.cd-tab-nav.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}


.cd-header {
  position: relative;
  height: 50px;
  background-color: rgba(65, 48, 124, 1);
}
.cd-header h1 {
  color: #ffffff;
  line-height: 50px;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 300;
  margin-left: 10px;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 9vh;
  }
  .cd-header h1 {
    line-height: 80px;
    margin-left: 20px;
  }
}

a {
  color: #41307c;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #2E4057;
  background-color: lavender;
}

.cd-primary-nav > a {
  color: #E4D0E8;
  text-decoration: none;
}

section h2 {
  width: 90%;
  margin: 2em auto 0;
  color: #7d98ba;
  font-weight: 700;
  text-align: center;
}
@media only screen and (min-width: 1170px) {
  section h2 {
    margin: 4em auto 0;
  }
}

/* --------------------------------

Main Components

-------------------------------- */

.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 70px;
  }
}

.project-progress-bar {
  background-color: #d9d9de;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 3px;
  height: 6px;
  margin-left: 5%;
  margin-right: 5%;
}

.project-percent-pledged {
  background-color: #2bde73;
  height: 100%;
}
