body {
  background-color: rgb(255, 255, 255);
  font: 400 1.25em/1.38 Roboto;
  color: rgb(255, 255, 255);
}

.back {
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 994px;
  margin-top: 1px;
  background: url('../images/640_inventor-cartoon.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.category {
  position: relative;
  float: left;
  margin-top: 45px;
  line-height: 1.38;
}

.createp {
  float: left;
  width: 100%;
  min-height: 63px;
  margin-top: 6px;
  border-radius: 10px;
  background-color: rgba(145, 109, 109, 0);
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
  font-size: 1.65em;
  font-weight: 300;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.createpbox {
  float: left;
  width: 32.8%;
  height: 65px;
  margin: 75px 0 0 34.59375%;
  border-radius: 10px;
  background-color: rgba(195, 232, 115, 0.49);
}

.description {
  float: left;
  clear: both;
  line-height: 1.38;
}

.foot {
  float: left;
  clear: both;
  width: 100.5833333333%;
  height: 265px;
  background-color: rgb(0, 0, 0);
}

.next {
  display: block;
  float: left;
  clear: both;
  width: 15.3%;
  height: 48px;
  margin: 38px 0 0 43.10313%;
  border-radius: 10px;
  background-color: rgb(90, 171, 74);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  font-size: 1.25em;
  line-height: 1.38;
  text-align: center;
  color: rgb(251, 243, 243);
}

.screen {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 100%;
  height: 994px;
  margin-top: -994px;
  background-color: rgba(36, 35, 35, 0.25);
}

.title {
  position: relative;
  float: left;
  margin-top: 54px;
  line-height: 1.38;
}

.wizardbox {
  position: relative;
  float: left;
  z-index: 12;
  width: 83.3333333333%;
  height: 923px;
  margin: -958px 0 0 8.33073%;
  border-radius: 25px;
  background-color: rgba(37, 36, 36, 0.68);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
}

.category-1 {
  clear: both;
  z-index: 7;
  width: 22.6%;
  min-height: 45px;
  margin-left: 10.00313%;
  font-size: 1.5em;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.category-2 {
  display: block;
  z-index: 6;
  width: 30.1%;
  height: 45px;
  margin-left: 3.3%;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgba(242, 242, 242, 0.79);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.description-1 {
  width: 50%;
  min-height: 50px;
  margin: 57px 0 0 25.1%;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  color: rgb(255, 255, 255);
}

.description-2 {
  display: block;
  width: 80%;
  height: 346px;
  margin: 24px 0 0 10.00313%;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  background-color: rgba(242, 242, 242, 0.79);
  font-size: 1em;
  font-weight: 300;
  color: rgb(0, 0, 0);
  resize: none;
}

.title-1 {
  clear: both;
  z-index: 9;
  width: 22.6%;
  min-height: 49px;
  margin-left: 10.00313%;
  font-size: 1.5em;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

.title-2 {
  display: block;
  z-index: 8;
  width: 30.1%;
  height: 49px;
  margin-left: 3.3%;
  padding: 0 10px;
  background-color: rgba(242, 242, 242, 0.79);
  font-size: 1em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

@media(max-width: 1100px) {
  .back {
    position: relative;
    z-index: 1;
  }

  .createpbox .createp {
    font-size: 1.5em;
  }

  .screen {
    position: relative;
    z-index: 2;
  }

  .wizardbox {
    position: relative;
    z-index: 12;
    margin-left: 8.32955%;
  }

  .wizardbox .category,
  .wizardbox .title {
    position: relative;
  }

  .wizardbox .createpbox {
    margin-left: 34.59244%;
  }

  .wizardbox .next {
    margin-left: 43.10163%;
  }

  .wizardbox .category-1 {
    z-index: 7;
    margin-left: 10.00239%;
    font-size: 1.25em;
  }

  .wizardbox .category-2 {
    z-index: 6;
    margin-left: 3.29663%;
  }

  .wizardbox .description-1 {
    margin-left: 25.09972%;
    font-size: 1.25em;
  }

  .wizardbox .description-2 {
    margin-left: 10.00239%;
  }

  .wizardbox .title-1 {
    z-index: 9;
    margin-left: 10.00239%;
    font-size: 1.25em;
  }

  .wizardbox .title-2 {
    z-index: 8;
    margin-left: 3.29663%;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 1.25em;
  }

  .back {
    position: relative;
    z-index: 1;
    margin-top: -4px;
  }

  .createpbox .createp {
    margin-top: 11px;
    font-size: 1.4em;
  }

  .screen {
    position: relative;
    z-index: 2;
  }

  .wizardbox {
    position: relative;
    z-index: 12;
    margin-left: 8.32969%;
  }

  .wizardbox .category,
  .wizardbox .title {
    position: relative;
  }

  .wizardbox .createpbox {
    margin-left: 34.59209%;
  }

  .wizardbox .next {
    margin-top: 31px;
    margin-left: 43.10277%;
  }

  .wizardbox .category-1 {
    z-index: 7;
    margin-left: 9.99944%;
  }

  .wizardbox .category-2 {
    z-index: 6;
    margin-left: 3.29815%;
  }

  .wizardbox .description-1 {
    margin-top: 35px;
    margin-left: 25.09891%;
  }

  .wizardbox .description-2 {
    margin-top: 23px;
    margin-left: 9.99944%;
  }

  .wizardbox .title-1 {
    z-index: 9;
    margin-left: 9.99944%;
  }

  .wizardbox .title-2 {
    z-index: 8;
    margin-left: 3.29815%;
  }
}

@media(max-width: 951px) {
  .back {
    position: relative;
    z-index: 1;
  }

  .createpbox .createp {
    font-size: 1.15em;
  }

  .screen {
    position: relative;
    z-index: 2;
  }

  .wizardbox {
    position: relative;
    z-index: 12;
  }

  .wizardbox .category,
  .wizardbox .title {
    position: relative;
  }

  .wizardbox .createpbox {
    margin-left: 34.59188%;
  }

  .wizardbox .next {
    margin-left: 43.10134%;
  }

  .wizardbox .category-1 {
    z-index: 7;
    margin-left: 9.99803%;
  }

  .wizardbox .category-2 {
    z-index: 6;
    margin-left: 3.29653%;
  }

  .wizardbox .description-1 {
    margin-left: 25.0985799999%;
  }

  .wizardbox .description-2 {
    margin-left: 9.99803%;
  }

  .wizardbox .title-1 {
    z-index: 9;
    margin-left: 9.99803%;
  }

  .wizardbox .title-2 {
    z-index: 8;
    margin-left: 3.29653%;
  }
}

@media(max-width: 849px) {
  body {
    font-size: 1.125em;
  }

  .back {
    position: relative;
    z-index: 1;
  }

  .createpbox .createp {
    font-size: 1.278em;
  }

  .screen {
    position: relative;
    z-index: 2;
  }

  .wizardbox {
    position: relative;
    z-index: 12;
  }

  .wizardbox .category,
  .wizardbox .title {
    position: relative;
  }

  .wizardbox .createpbox {
    margin-left: 34.59143%;
  }

  .wizardbox .description {
    font-size: 1.111em;
  }

  .wizardbox .next {
    margin-top: 41px;
    margin-left: 43.10071%;
    font-size: 1.389em;
  }

  .wizardbox .category-1 {
    z-index: 7;
    margin-top: 46px;
    margin-left: 9.99117%;
    font-size: 1.111em;
  }

  .wizardbox .category-2 {
    z-index: 6;
    margin-top: 41px;
    margin-left: 3.2906399999%;
    font-size: 18px;
  }

  .wizardbox .description-1 {
    margin-top: 30px;
    margin-left: 25.0927599999%;
  }

  .wizardbox .description-2 {
    margin-top: 10px;
    margin-left: 9.99117%;
  }

  .wizardbox .title-1 {
    z-index: 9;
    margin-top: 58px;
    margin-left: 9.99117%;
    font-size: 1.111em;
  }

  .wizardbox .title-2 {
    z-index: 8;
    margin-left: 3.2906399999%;
    font-size: 18px;
  }
}

@media(max-width: 748px) {
  .back {
    position: relative;
    z-index: 1;
  }

  .createpbox .createp {
    margin-top: 16px;
    font-size: 1.111em;
  }

  .screen {
    position: relative;
    z-index: 2;
  }

  .wizardbox {
    position: relative;
    z-index: 12;
  }

  .wizardbox .category,
  .wizardbox .title {
    position: relative;
  }

  .wizardbox .createpbox {
    margin-left: 34.59003%;
  }

  .wizardbox .next {
    margin-left: 43.09779%;
  }

  .wizardbox .category-1 {
    z-index: 7;
    margin-left: 9.9842099999%;
  }

  .wizardbox .category-2 {
    z-index: 6;
    margin-left: 3.2888%;
  }

  .wizardbox .description-1 {
    margin-left: 25.08711%;
  }

  .wizardbox .description-2 {
    margin-left: 9.9842099999%;
  }

  .wizardbox .title-1 {
    z-index: 9;
    margin-left: 9.9842099999%;
  }

  .wizardbox .title-2 {
    z-index: 8;
    margin-left: 3.2888%;
  }
}

@media(max-width: 649px) {
  body {
    font-size: 1.125em;
  }

  .back {
    position: relative;
    z-index: 1;
  }

  .screen {
    position: relative;
    z-index: 2;
  }

  .wizardbox {
    position: relative;
    z-index: 12;
  }

  .wizardbox .category,
  .wizardbox .title {
    position: relative;
  }

  .wizardbox .createpbox {
    margin-left: 34.59105%;
  }

  .wizardbox .next {
    margin-left: 43.09364%;
  }

  .wizardbox .category-1 {
    z-index: 7;
    margin-top: 36px;
    margin-left: 9.96158%;
  }

  .wizardbox .category-2 {
    z-index: 6;
    margin-top: 37px;
    margin-left: 3.30801%;
  }

  .wizardbox .description-1 {
    margin-top: 36px;
    margin-left: 25.0917299999%;
  }

  .wizardbox .description-2 {
    margin-left: 9.99047%;
  }

  .wizardbox .title-1 {
    z-index: 9;
    margin-top: 62px;
    margin-left: 9.97891%;
  }

  .wizardbox .title-2 {
    z-index: 8;
    margin-left: 3.29067%;
  }
}